[submodule "thirdparty/arabica"]
	path = thirdparty/arabica
	url = https://github.com/RWTH-ACS/arabica
[submodule "CGMES"]
	path = CGMES_2.4.15/generate
	url = ../../cim-codebase-generator
	branch = 16-assignment-functions-not-generated-correctly-for-1-many-relationships
